/**
 * Admin styles
 */

body.settings_page_hayona-cookies {

	form h2 {
		display: none;
	}

	.wrap h2.nav-tab-wrapper {
		margin-bottom: 30px;
	}

	p.larger {
		font-size: larger;
	}

	.hc-admin__header {
		padding: 10px 0;
	}
}