/**
 * Setup
 */

@mixin lt-l {
	@media only screen and (max-width: 1000px / 16px * 1em) {
		@content;
	}
}

@mixin lt-m {
	@media only screen and (max-width: 800px / 16px * 1em) {
		@content;
	}
}

@mixin lt-s {
	@media only screen and (max-width: 500px / 16px * 1em) {
		@content;
	}
}

@mixin lt-xs {
	@media only screen and (max-width: 380px / 16px * 1em) {
		@content;
	}
}


/**
 * General styles
 */

.hc-styling {
	font: 16px/1.5 Helvetica, Arial, sans-serif;

	@include lt-s {
		font-size: 12px;
	}


	// Headings
	
	span.hc-h2,
	span.hc-h3 {
		display: block;
		margin: 0 0 10px;
		line-height: 1.2;
	}

	span.hc-h2 {
		margin-bottom: 30px;
		font-size: 25px;
		font-weight: bold;
		color: #eee;

		@include lt-s {
			font-size: 20px;
		}
	}

	span.hc-h3 {
		text-transform: uppercase;
		font-size: 16px;

		@include lt-s {
			font-size: 14px;
		}
	}


	// Table

	.hc-table {
		width: 100%;
		border-collapse: collapse;
		border: 0;

		th,
		td {
			padding: 10px 10px;
			vertical-align: top;
			border: 0;
			text-align: left;
			font-size: 14px;
			line-height: 1.2;

			@include lt-s {
				font-size: 12px;
			}
		}

		.hc-button {
			display: block;
		}

		tfoot tr:first-child td,
		tfoot tr:first-child th {
			padding-top: 20px;
		}

		@include lt-xs {

			th,
			td,
			table,
			tr,
			thead,
			tbody,
			tfoot,
			col {
				display: block;
				width: 100%;
			}

			td,
			th {
				padding: 5px 10px;
			}

			th {
				padding-top: 15px;
			}

			td {
				padding-bottom: 15px;
			}

			.hc-empty-cell {
				display: none;
			}

			tr:after {
				content: ".";
				display: block;
				height: 0;
				visibility: hidden;
				clear: both;
			}

			td,
			th {
				float: left;
				width: 50%;
				box-sizing: border-box;
			}

			tfoot td,
			th:first-child {
				float: none;
				width: 100%;
			}

			tfoot td {
				padding: 0 10px 10px;
			}
		}
	}


	// Buttons

	.hc-button {
		display: inline-block;
		padding: 10px 15px;
		border-radius: 3px;
		position: relative;
		background-color: #228B22;
		text-decoration: none;
		text-align: center;
		line-height: 1.2;
		font-weight: bold;
		color: #fff;

		border: 0;
		box-shadow: none;
	}

	.hc-button:after {
		content: "";
		border-radius: 3px;
		background-color: #fff;
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		opacity: 0;
		transition: all 0.1s linear 0s;
	}

	.hc-button:hover:after {
		opacity: 0.15;
	}


	.hc-button--grey {
		background-color: #ccc;
		color: #222;
	}

	.hc-button--grey:after {
		background-color: #000;
	}


	.hc-dimmed {
		text-decoration: none;
		color: inherit;
		opacity: 0.6;
	}

	.hc-dimmed:hover {
		opacity: 1;
	}


	// Toolbar

	.hc-toolbar {
		margin: 0;
		padding: 0;
		list-style: none;

		&:after {
			content: ".";
			display: block;
			height: 0;
			visibility: hidden;
			clear: both;
		}

		a {
			display: block;
			line-height: 40px;
			transition: all 0.1s linear 0s;
		}

		li {
			float: left;
			margin-left: 20px;

			&:first-child {
				margin-left: 0;
			}

			@include lt-s {
				margin-left: 10px;
			}
		}

		.hc-button {
			padding-top: 0;
			padding-bottom: 0;
		}
	}
}


/**
 * Cookie banner
 */

.hc-banner {
	display: none;			/* It is set to block by JavaScript */
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 100;

	&__faux-padding {
		clear: both;
		transition: all 0.2s;
	}

	&__close {
		display: none;
	}

	&.hc-styling {
		padding: 40px;

		@include lt-s {
			padding: 20px;
		}

		.hc-banner__body {
			margin: 0 0 20px;

			@include lt-s {
				margin: 0 0 10px;
			}
		}
	}


	// Cookie wall

	body.hc-cookiewall & {
		top: 150px;
		right: 20%;
		left: 20%;
		z-index: 10000100;

		@include lt-l {
			top: 100px;
		}

		@include lt-m {
			top: 70px;
			right: 50px;
			left: 50px;
		}

		@include lt-s {
			right: 0;
			left: 0;
		}

		&__faux-padding {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 10000000;
			background-color: rgba(0, 0, 0, 0.8);
		}

		&__close {
			display: block;
			position: absolute;
			right: 0;
			top: -40px;
			line-height: 20px;
			font-weight: bold;
			color: #fff;
			cursor: pointer;

			@include lt-s {
				right: 20px;
			}

			&:hover {
				opacity: 0.8;
			}

			&__icon {
				display: inline-block;
				margin-right: 5px;
				width: 20px;
				height: 20px;
				position: relative;
				vertical-align: middle;
				transform: translate( 0, -1px );

				&:before, &:after {
					content: '';
					position: absolute;
					height: 3px;
					width: 100%;
					top: 50%;
					left: 0;
					margin-top: -1px;
					background: #fff;
				}
				
				&:before {
					transform: rotate(45deg);
				}
				
				&:after {
					transform: rotate(-45deg);
				}
			}
		}
	}
}

body.hc-cookiewall {
	position: relative;
}


/**
 * Privacy settings form
 */

.hc-styling.hc-settings {
	clear: both;
	display: none;			/* It is set to block by JavaScript */
	margin: 0 0 40px;
	padding: 20px 0 0;
	border-radius: 3px;
}

@include lt-s {
	.hc-styling.hc-settings {
		padding: 10px 0 0;
	}
}

.hc-styling.hc-settings col:nth-child(2),
.hc-styling.hc-settings col:nth-child(3) {
	width: 35%;
}

.hc-styling .hc-settings__header {
	padding: 10px;
	text-align: center;
}

.hc-styling .hc-settings__header span.hc-h2 {
	margin: 0 0 5px;
}

.hc-styling .hc-settings__header p {
	margin: 0 0 20px;
}

@include lt-xs {
	.hc-styling .hc-settings__header p {
		margin: 0;
	}
}


/*
 * Color schemes
 */


/* Dark color scheme */

.hc-styling--dark {
 	background-color: #222;
 	color: #aaa;
}

.hc-styling--dark .hc-table tbody tr:nth-child(odd) td,
.hc-styling--dark .hc-table tbody tr:nth-child(odd) th {
	background-color: rgba(255,255,255,0.03);
}

.hc-styling--dark .hc-table col:nth-child(2) {
	background-color: rgba(255,255,255,0.05);
}

.hc-styling--dark .hc-table col:nth-child(1),
.hc-styling--dark .hc-table col:nth-child(3) {
	background-color: rgba(255,255,255,0.03);
}

.hc-styling--dark.hc-settings thead td,
.hc-styling--dark.hc-settings thead th {
	color: #eee;
}


/* Light color scheme */

.hc-styling--light {
 	background-color: #f5f5f5;
 	// box-shadow: 0 0 10px rgba(0,0,0,0.05), 1px 1px 4px rgba(0,0,0,0.2);
 	color: #333;
}

.hc-styling--light .hc-table tbody tr:nth-child(odd) td,
.hc-styling--light .hc-table tbody tr:nth-child(odd) th {
	background-color: rgba(0,0,0,0.02);
}

.hc-styling--light .hc-table col:nth-child(2) {
	background-color: rgba(0,0,0,0.03);
}

.hc-styling--light .hc-table col:nth-child(1),
.hc-styling--light .hc-table col:nth-child(3) {
	background-color: rgba(0,0,0,0.02);
}

.hc-styling--light span.hc-h2 {
	color: #222;
}

.hc-styling--light.hc-settings thead td,
.hc-styling--light.hc-settings thead th {
	color: #222;
}















